.about-orisdi{
    margin-bottom: 130px;
}
.page-title {
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    padding:20px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;line-height: normal;
}
.page-text{
margin-bottom: 20px;
margin-top: 30px;
line-height: 35px;
}
.page-text,.point-text{
font-size: 18px;
padding:0 50px;
font-weight: 200;
}
.adjust-text{
    margin-top: 70px;
}