.shopping-cart{
padding-top: 20px;
min-height: 500px;
}
.shopping{
display:flex;
justify-content: center;
column-gap: 3px; 
color: #ccc;
letter-spacing: 1px;
font-size: 16px;
}
.cart-p,
.cart-h {
padding-right: 90px;
margin-top: 0;
margin-bottom: 0.5rem;
line-height: 1.4;
}
.cart-h{
font-size: 19px;
font-weight: 500;
}

